  .match__cards__container {
    display: flex;
    flex-flow: column;
    align-items: center;
    max-width: 1120px;
    width: 90%;
    margin: 0 auto;
  }
  
  .match__cards__wrapper {
    position: relative;
    margin: 50px 0 45px;
  }
  
  .match__cards__items {
    margin-bottom: 24px;
  }
  
  .result__cards__item__img, .search__cards__item__img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    object-fit: cover;
    transition: all 0.2s linear;
  }

  .result__cards__item__link, .search__cards__item__link {
    display: flex;
    flex-flow: column;
    width: 100%;
    box-shadow: 0 6px 20px rgba(255, 255, 255, 0.25);
    -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    border-radius: 10px;
    overflow: hidden;
    text-decoration: none;
    background-color: white;
    color: #252e48;
  }

  .result__cards__item__text, .search__cards__item__text {
    color: #252e48;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  padding: 10px 10px 10px;
  }

  .text__card__item {
    position: absolute;
  top: 0;
  left: 0;
  margin: 10px; /* Adjust margin as needed */
  z-index: 1; /* Ensure text is above the image */
  background-color: rgba(255, 255, 255, 0.7); /* Optional: Add a background color with some transparency */
  padding: 10px; /* Optional: Add padding for better readability */
  }

  .result__cards__item {
    display: flex;
  flex: 1;
  margin: 0 1rem;
  border-radius: 10px;
  }

  .result__cards__item__pic-wrap, .search__cards__item__pic-wrap {
    position: relative;
  width: 450px;
  min-width: 450px;
  padding-top: 67%;
  overflow: hidden;
  }

.match__card__items {
  display: flex; /* Ensure the items are displayed in a row */
  justify-content: center; /* Center the items horizontally */
}

.match__card__items > * {
  margin-right: 300px; /* Add margin between each MatchCardItem */
}

/* Remove margin from the last item to prevent extra space */
.match__card__items > *:last-child {
  margin-right: 0;
}

h1 {
  margin-top: 50px;
}